<h1>About</h1>

<p>
  If weather is not the best and you are in doubt if
  <%= Isitopen.entreprise_name %> is open, check this app to see what
  the other visitors say.<br/>
  If you go and find it closed, tell us.
</p>