<h1>About</h1>

<p>
  If weather is not the best and you are in doubt if
  <%= Isitopen.entreprise_name %> is open, check this app to see what
  the other visitors say.<br/>
  If you go and find it closed, tell us.
</p>

<h2 id="authenticate">Why should I sign in to this app?</h2>

<p>
  You can use facebook login to sign in to this application.
  As an authenticated user you can subsequently ask the 
  <%= mail_to Isitopen.contact_email, 'maintainer' %>
  to grant you status of a "trusted user".
  Only votes of trusted users influence the colour of the main
  YES/NO banner. 
</p>
<p>
  However, even if you don't sign in and click anonymously, 
  your vote will be visible in the
  votes' log.
</p>